.main-bg{
    background-image: url('https://media1.giphy.com/media/8PsT3SPndpYBloAosN/giphy-preview.gif');
    background-color: black;
    background-size: 50px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
.card{
    background-color: rgb(202, 93, 202);
    border-radius: 2%;
    text-shadow: 1rem;
    color: white;
}
.fa-spin{
    animation-duration: 8s;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}